{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta name="HandheldFriendly" content="true">

    <title>Car wash System</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <!-- custom styles (optional) -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  </head>
  <style>
    html,
    body {
      max-width: 100%;
      overflow-x: hidden;
    }
    @media screen and (min-width: 500px) {
    body {
        width:100%;
    }
  }

    @media screen and (min-width: 800px) {
      body {
          width:100%;
      }
    }
    .navbar {
      position: fixed;
      top :0;
      width: 100%;
    }
    .logo {
      width: 85px;
      left: 0;
      position: relative;
    }
    .nav {
      position: relative;
      
    }
    .nav-link {
      color: black;

    }

    .header {
      height: 300px;
      width: 100%;
      background-image: url("{% static 'img/header.jpeg' %}");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .intro {
      text-align: center;
      margin-top: 100px;
      width: 50%;
      position: relative;
      left: 300px;
      font-family: 'Courier New', Courier, monospace;
    }
    #services {
      margin-top: 100px;
      height: 50%;
      position: relative;
      flex-grow: 2;
   
    }
    .contact {
      margin-top: 50px;
      width: 100%;
      background-color: whitesmoke;
    }
    .page-footer {
      text-align: center;
      width: 100%;
      margin-top: 50px;
      opacity: 0.8;
    }

  </style>
  <body>

    <div class="header"></div>
    <div class="navigation  ">
      <nav class="navbar navbar-expand-sm  ">
        <!-- product logo -->
        <img class=" logo rounded" src="{% static 'img/logo.jpeg' %}" alt="" />
        <div class="collapse navbar-collapse">
          <!-- Links to other web pages -->
          <ul class="nav navbar-nav nav-tabs  ">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bikes:register' %}">SIgnUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bikes:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bikes:login' %}">Log-in</a>
            </li>
          </ul>
          <!-- Links -->
        </div>
      </nav>
    </div>

    <!-- Website introduction  -->
    <!-- begining of intro -->
    <div class="intro card">
      <h5>
        Register Today to enjoy efficient, convinient, and quality Car washing
        services at an affordable price
      </h5>
    </div>
    <!-- end of intro -->

    <!-- begining of the main section -->
    <div class="main row">
      <!-- services provided by the washing center -->
      <!-- Full body wash  -->
    <!--Section: articles-->
    <section id="services" class=" text-center py-5">
    
      <!-- Container -->
      <div class="container">
    
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold mb-5">Services</h2>
    
        <!--Grid row-->
        <div class="row">
    
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
    
            <!-- Card Narrower -->
            <div class="card card-cascade narrower">
    
              <!-- Card image -->
              <div class="view view-cascade">
                <img class="card-img-top" src="{% static 'img/full.jpeg' %}"
                  alt="Card image cap">
                <a>
                  <div class="mask img-gradient"></div>
                </a>
              </div>
    
              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <!-- Title -->
                <h4 class="font-weight-bold card-title">Full Car wash service</h4>
                <!-- Text -->
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
              </div>
    
            </div>
            <!-- Card Narrower -->
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">
    
            <!-- Card Narrower -->
            <div class="card card-cascade narrower">
    
              <!-- Card image -->
              <div class="view view-cascade">
                <img class="card-img-top" src="{% static 'img/body.jpeg' %}"
                  alt="Card image cap">
                <a>
                  <div class="mask img-gradient"></div>
                </a>
              </div>
    
              <!-- Card content -->
              <div class="card-body card-body-cascade">
    
                <!-- Label -->
                <h4 class="font-weight-bold card-title">Body Wash </h4>
                <!-- Text -->
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
    
              </div>
    
            </div>
            <!-- Card Narrower -->
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">
    
            <!-- Card Narrower -->
            <div class="card card-cascade narrower">
    
              <!-- Card image -->
              <div class="view view-cascade">
                <img class="card-img-top" src="{% static 'img/interior.jpeg' %}"
                  alt="Card image cap">
                <a>
                  <div class="mask img-gradient"></div>
                </a>
              </div>
    
              <!-- Card content -->
              <div class="card-body card-body-cascade">
    
                <!-- Label -->

                <!-- Title -->
                <h4 class="font-weight-bold card-title">Interior Cleaning</h4>
                <!-- Text -->
                <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
    
              </div>
    
            </div>
            <!-- Card Narrower -->
    
          </div>
          <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
      </div>
      <!-- Container -->
    
    </section>
    <!--Section: articles-->

    <!--Section: contact-->
    <section id="contact" class="contact py-2" >
    
      <div class="container">
    
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact us</h2>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
          error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
          pariatur veniam.</p>
    
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-9 mb-md-0 mb-5">
    
            <form>
    
              <!-- Grid row -->
              <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="contact-name" class="form-control">
                    <label for="contact-name" class="">Your name</label>
                  </div>
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="contact-email" class="form-control">
                    <label for="contact-email" class="">Your email</label>
                  </div>
                </div>
                <!-- Grid column -->
    
              </div>
              <!-- Grid row -->
    
              <!-- Grid row -->
              <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input type="text" id="contact-Subject" class="form-control">
                    <label for="contact-Subject" class="">Subject</label>
                  </div>
                </div>
                <!-- Grid column -->
    
              </div>
              <!-- Grid row -->
    
              <!-- Grid row -->
              <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                    <label for="contact-message">Your message</label>
                  </div>
                </div>
                <!-- Grid column -->
    
              </div>
              <!-- Grid row -->
    
            </form>
    
            <div class="text-center text-md-left">
              <a class="btn btn-purple btn-md">Send</a>
            </div>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="fa fa-map-marker fa-2x purple-text"></i>
                <p>San Francisco, CA 94126, USA</p>
              </li>
              <li>
                <i class="fa fa-phone fa-2x mt-4 purple-text"></i>
                <p>+ 01 234 567 89</p>
              </li>
              <li>
                <i class="fa fa-envelope fa-2x mt-4 purple-text"></i>
                <p class="mb-0">contact@example.com</p>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
    </section>
    <!--Section: contact-->
    
    <!-- Footer -->
    <footer class="page-footer font-small pt-5 blue-gradient">
    
      <!-- Footer Elements -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=""> hunchoinc.com</a>
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
  </body>
</html>
