{% extends 'bikes/base.html' %}
{% load staticfiles %}
{% block content %}
It is {% now "jS F Y H:i:s T" %}
  {% if rentals %}
    <table class="table">
      <tr>
        <th>Bike number</th>
        <th>Start station</th>
        <th>Rental start</th>
        <th></th>
      </tr>
      {% for rental in rentals %}
        <tr>
          <td>{{ rental.bike.id }}</td>
          <td>{{ rental.start_station.address }}</td>
          <td>{{ rental.start_date }}</td>
          <td>
            <form action="." method="post">
              {% csrf_token %}
              <button class="btn btn-default" type="submit" name="bike_return" value="{{ rental.id }}">Return bike</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No bikes already rented.</p>
  {% endif %}
{% endblock %}
